// projects section 
.projects-container
  width: 100%
  height: 100%
  position: relative
  margin-top: 600px
  background: #101018db

// SVG backgrounds 
.proj-bg-container
  position: -webkit-sticky
  position: sticky
  // margin-top: -200px
  max-width: 100%
  top: 0

#svg-proj-back
  fill:#2d2d52
  stroke:#7d7d92
  stroke-miterlimit:10
  stroke-width: 1.5px
  width: 80%
  // position: -webkit-sticky
  position: absolute
  margin-top: -300px
  // top: 0
  left: 50%
  transform: translateX(-50%)

#svg-proj-fore
  fill:#324e52
  stroke:#7d7d92
  stroke-miterlimit:10
  stroke-width: 1.5px
  width: 80%
  // position: -webkit-sticky
  position: absolute
  // top: 
  left: 55%
  transform: translateX(-50%)
  // transition: all .2s ease

// projects
.projects-list
  position: relative
  height: 100%
  width: 80%
  margin: 2rem auto 0
  
  padding-bottom: 12rem
  display: flex
  flex-wrap: wrap
  align-items: flex-start

  .project-thumb
    text-align: center
    color: white
    margin: 4rem auto
    border-radius: 4px
    position: relative
    transform: translateY(20px)
    opacity: 0
    // background: linear-gradient(25deg, #1f1f1f9b 28%, #1f1f1f9d 100%)
    // box-shadow: 0px 3px 4px $shadow


@media (min-width: 768px) 
  .projects-list
    width: 100%
    display: grid
    grid-template-columns: repeat(12, 8.333%)
    row-gap: 10rem
    .project-thumb
      margin: 0 auto
      grid-column: 3/11
      // &:nth-of-type(1)
      //   grid-column: 2/11
      // &:nth-of-type(2)
      //   grid-column: 3/12
      // &:nth-of-type(3)
      //   grid-column: 2/11
      // &:nth-of-type(4)
      //   grid-column: 3/12
      // &:nth-of-type(5)
      //   grid-column: 2/11
      // &:nth-of-type(6)
      //   grid-column: 3/12
      // &:nth-of-type(7)
      //   grid-column: 2/11
      // &:nth-of-type(8)
      //   grid-column: 3/12


.project-title
  font-size: 3rem
  font-weight: 700


.project-imgs-wrapper
  display: flex
  align-items: flex-end
  margin: 3rem 0

// .project-thumb:nth-of-type(even)
//   text-align: right
//   .project-imgs-wrapper
//     flex-direction: row-reverse 

    
// .wrapper-desktop, .wrapper-laptop, .wrapper-tablet, .wrapper-mobile
.wrapper
  margin: 50px auto
  position: relative
  transition: all .31s ease-in
  &:hover
    transform: scale(1.2) translateY(-15px)
    &~.wrapper
      transform: translateX(30px)


.wrapper-laptop
  &:hover

.wrapper-tablet
  top: 12px
  left: 5px
.wrapper-mobile
  right: 10px
  bottom: -40px
  z-index: 1
  margin-right: -50px
  &:hover
    transform: scale(1.35) translateY(-15px)
.wrapper-desktop
    &:hover
      transform: scale(1.2) translate(40px, -15px)


//SVGs -
.svg-desktop, .svg-mobile, .svg-laptop, .svg-tablet 
  position: absolute
  top: 0
  left: 0
  overflow: visible
.svg-desktop 
  // path
    // fill: #cfdee7
    // fill: #3e4253
    // fill: #d2daff
.svg-mobile 
  // path

.svg-laptop
  // path

.svg-tablet 
  // path


@media (max-width: 800px)
  .project-imgs-wrapper
    flex-direction: column
  .wrapper
    &:hover
      transform: scale(1.2) translateY(0px)
      &~.wrapper
        transform: translateX(0px)

  .wrapper-laptop
    width: 256px
  .wrapper-tablet
    // transform: scale(.7)
    width: 144px

    left: 0px
  .wrapper-mobile
    // transform: scale(.7)
    width: 75px
    margin: 50px auto
    right: 0
    bottom: -10px
    &:hover
      transform: scale(1.2) translateY(0px)

  .wrapper-desktop
    width: 300px
    margin: 50px auto
    // transform: scale(.7)

    &:hover
      transform: scale(1.2) translate(40px, 0px)

    

//   .wrapper-desktop, .wrapper-laptop, .wrapper-tablet, .wrapper-mobile
//     transform: scale(.7)
//   .svg-desktop, .svg-mobile, .svg-laptop, .svg-tablet
//     transform: scale(.7)
//   .card-img
//     transform: translateX(-50%) scale(.7)


.project-desc
  margin: 3rem 0
  // margin: 0 1.2rem  
  // font-weight: 100
  font-size: 1.3rem

// @media (min-width: 768px) 
// @media (min-width: 992px)
// @media (min-width: 1200px) 
// @media (min-width: 1400px)

.project-tools
  margin: 3rem 0 4rem
  // padding-top: 1rem
  // padding-bottom: 2.5rem
  // margin-left: 1.2rem
  color: lightgrey

.project-links
  // margin-left: 1.2rem
  margin: 5rem 0 2rem
  // padding-bottom: 2rem
  font-size: 1.2rem
    
    

.project-link
  border: 1px solid $font
  color: $font
  border-radius: 5px
  padding: .4rem .8rem .7rem
  // padding-bottom: .5rem
  // margin-right: 2rem
  &:hover
    background: $font
    color: black
  // &:nth-of-type(1)
  //   margin-right: 1.5rem
  &:nth-of-type(2)
    color: $orange
    border: 2px solid $orange
    &:hover
      background: $orange
      color: black
  // &:nth-of-type(3)
  //   color: $light-purple
  //   border: 2px solid $light-purple
  //   &:hover
  //     background: $light-purple
  //     color: black
.project-mosaic 
   display: grid
   grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr
   gap: 5px
   height: 400px
   margin: 2rem

  
#mosaic-0 
   background-color: #eceaea
   grid-row: 1 / 4
   grid-column: 1 / 5

#mosaic-1 
   background-color: #9a9a9a
   grid-row: 1 / 4
   grid-column: 5 / 7
   
#mosaic-2 
   background-color: #e3e3e3
   grid-row: 4 / 6
   grid-column: 1 / 3
  
#mosaic-3 
   background-color: #dbdbdb
   grid-row: 4 / 6
   grid-column: 3 / 7

.ruling
  // color: #101018db
  border-color: #3f3f4edb
  width: 40%
  margin: 8rem auto 0
      
//media queries
@media (max-width: 900px)  
  .project-list2
    width: 100%
  .project-thumb2
    width: 90%

@media (min-width: 1600px)  
  .project-list2
    width: 80%
  .project-thumb2
    width: 30%


