// projects section 
.projects-container
  width: 100%
  height: 100%
  position: relative
  margin-top: 600px
  background: #101018ec 

// SVG backgrounds 
.proj-bg-container
  position: -webkit-sticky
  position: sticky
  // margin-top: -200px
  max-width: 100%
  top: 0

#svg-proj-back
  fill:#ffffff00
  position: fixed 
  // stroke:#7d7d9289
  stroke:#23588769
  stroke-miterlimit:10
  stroke-width: 6px
  width: 100vh
  height: 100vh
  top: 40vh
  left: 0
  transform: translateY(0)
  z-index: 1
  will-change: transform, scroll-position
  transition: all 2.5s ease-out
// projects

.projects-list
  position: relative
  height: 100%
  width: 80%
  margin: 2rem auto 0
  z-index: 2
  padding-bottom: 12rem
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  
  // font-family: 'Raleway'
  // font-family: 'Kanit'

  .project-thumb
    text-align: center
    color: white
    margin: 4rem auto
    border-radius: 4px
    position: relative
    transform: translateY(20px)
    opacity: 0
    // background: linear-gradient(25deg, #1f1f1f9b 28%, #1f1f1f9d 100%)
    // box-shadow: 0px 3px 4px $shadow

@media (min-width: 1600px) 
  .project-thumb
    max-width: 1200px

@media (min-width: 768px) 
  .projects-list
    width: 100%
    display: grid
    grid-template-columns: repeat(12, 8.333%)
    row-gap: 10rem
    .project-thumb
      margin: 0 auto
      grid-column: 2/12

@media (min-width: 992px) 
  .projects-list
    .project-thumb
      grid-column: 1/13


.project-imgs-wrapper
  display: flex
  align-items: flex-end
  margin: 3rem 0

    
// .wrapper-desktop, .wrapper-laptop, .wrapper-tablet, .wrapper-mobile
.wrapper
  margin: 50px auto
  position: relative
  transition: all .31s ease-in
  &:hover
    transform: scale(1.2) translateY(-15px)
    &~.wrapper
      transform: translateX(30px)


.wrapper-laptop
  left: 1.2rem
  &:hover

.wrapper-tablet
  top: 12px
  left: 1.5rem
  z-index: 1
.wrapper-mobile
  // right: 10px
  bottom: -40px
  z-index: 2
  margin-right: -50px
  &:hover
    transform: scale(1.35) translateY(-15px)
.wrapper-desktop
  left: -1.7rem
  &:hover
    transform: scale(1.2) translate(40px, -15px)

@media (max-width: 1200px) 
  .wrapper-desktop
    left: .7rem

//SVGs -
.svg-desktop, .svg-mobile, .svg-laptop, .svg-tablet 
  position: absolute
  top: 0
  left: 0
  overflow: visible
.svg-desktop 
  // path
    // fill: #cfdee7
    // fill: #3e4253
    // fill: #d2daff
.svg-mobile 
  // path

.svg-laptop
  // path

.svg-tablet 
  // path




@media (max-width: 800px)
  .project-imgs-wrapper
    flex-direction: column
  .wrapper
    &:hover
      transform: scale(1.2) translateY(0px)
      &~.wrapper
        transform: translateX(0px)

  .wrapper-laptop
    width: 256px
  .wrapper-tablet
    // transform: scale(.7)
    width: 144px

    left: 0px
  .wrapper-mobile
    // transform: scale(.7)
    width: 75px
    margin: 50px auto
    right: 0
    bottom: -10px
    &:hover
      transform: scale(1.2) translateY(0px)

  .wrapper-desktop
    width: 300px
    margin: 50px auto

    &:hover
      transform: scale(1.2) translate(40px, 0px)

.projects-list
  font-family: 'Raleway'
  // font-family: 'Kanit'
  // font-family: 'Poppins'
  // font-family: 'Phudu'

.project-title
  // font-family: 'Kanit'
  font-size: 2.5rem
  font-weight: 400
  // text-transform: uppercase
  color: #4b92ad
  color: #565e88
  margin: 2rem auto 3rem

.project-desc
  // font-family: 'Kanit'
  margin: 3rem auto
  font-size: 1.4rem
  font-weight: 200
  color: #4b92ad
  color: #6c749f
  color: #5c93a7
  border-radius: 0px 35px 40px 45px
  border-radius: 0px 15px 15px 15px
  border-radius: 5px
  // border-right: 1.5px solid rgb(62 84 115 / 7%)
  padding: 2rem 2rem 2rem 2rem
  border-bottom: 1.5px solid rgb(77 67 109 / 23%)
  background: rgb(86,94,136)
  // background: linear-gradient(289deg, rgb(96 105 150 / 0%) 26%, rgb(67 76 121 / 10%) 47%, rgb(86 98 159 / 0%) 76%)
  background: radial-gradient(ellipse at 50% 136%, rgba(40,40,71,0.47108421005120793) 15%, rgba(51,58,91,0) 52%)


.desc-container
  position: relative
  width: 50%
  margin: auto

.exclaim
  font-size: 8rem
  position: absolute
  top: -10px
  right: -70px
  color: #3fd4bb45
  color: #5c93a7
  color: #bb8c31

  transform: rotateZ(10deg)
  font-family: 'Katin'

.project-tools
  margin: 3rem 0 4rem
  color: lightgrey

.project-links
  margin: 6rem 0 0rem
  font-size: 1.2rem
    

.project-link
  color: $font

  //////////////////////// 1
  border: 0.5px solid rgba(63, 63, 78, 0.6)
  border-radius: 5px
  background: #181c2dab
  padding: .4rem .8rem .7rem
  transition: background .2s ease

  /////////////////////// 2
  // border-right: 1.5px solid rgb(62 84 115 / 7%)
  // padding: 6rem 2rem 4rem
  // border-bottom: 1.5px solid rgb(77 67 109 / 23%)
  // background: rgb(86,94,136)
  background: linear-gradient(289deg, rgba(96, 105, 150, 0) 19%, rgba(67, 76, 121, 0.17) 45%, rgba(86, 98, 159, 0) 76%)
  // background: linear-gradient(116deg, rgba(96, 105, 150, 0.03) 14%, rgb(177 177 58 / 6%) 37%, rgb(11 41 192 / 13%) 47%, rgba(137, 146, 193, 0.14) 63%, rgba(86, 98, 159, 0.08) 85%)
  
  &:hover
    background: $font
    background: #70b4cd
    color: black

    // background: linear-gradient(289deg, rgba(96, 105, 150, 0) 19%, rgba(67, 76, 121, 0.17) 45%, rgba(86, 98, 159, 0) 76%)
    // background: linear-gradient(116deg, rgba(96, 105, 150, 0.03) 14%, rgb(177 177 58 / 6%) 37%, rgb(11 41 192 / 13%) 47%, rgba(137, 146, 193, 0.14) 63%, rgba(86, 98, 159, 0.08) 85%)
    



@media (min-width: 768px) 
  .project-title
    font-size: 3.5rem
    margin: 2rem auto 3rem
  .project-desc
    margin: 5rem auto
    font-size: 1.5rem
  .project-link
    padding: .6rem 1.2rem .9rem

@media (min-width: 992px)
  .project-title
    font-size: 4.8rem
    margin: 2rem auto 5rem
  .project-desc
    margin: 7rem auto
    font-size: 1.6rem
  .project-link
    padding: .9rem 1.6rem 1.2rem
    font-size: 1.5rem

@media (min-width: 1200px)
  .project-title
    font-size: 5.2rem
    margin: 2rem auto 6rem
  .project-desc
    margin: 7rem auto
    font-size: 1.8rem
  .project-link
    padding: 1.2rem 2rem 1.4rem
    font-size: 1.8rem

@media (min-width: 1400px)
  .project-title
    font-size: 6.5rem
    margin: 2rem auto 7rem
  .project-desc
    margin: 8rem auto
    font-size: 2.2rem
  .project-link
    padding: 1.4rem 2.5rem 1.6rem
    font-size: 2rem






.project-mosaic 
   display: grid
   grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr
   gap: 5px
   height: 400px
   margin: 2rem

  
#mosaic-0 
   background-color: #eceaea
   grid-row: 1 / 4
   grid-column: 1 / 5

#mosaic-1 
   background-color: #9a9a9a
   grid-row: 1 / 4
   grid-column: 5 / 7
   
#mosaic-2 
   background-color: #e3e3e3
   grid-row: 4 / 6
   grid-column: 1 / 3
  
#mosaic-3 
   background-color: #dbdbdb
   grid-row: 4 / 6
   grid-column: 3 / 7

.ruling
  // color: #101018db
  border-color: #3f3f4edb
  width: 20%
  margin: 12rem auto
      
//media queries
@media (max-width: 900px)  
  .project-list2
    width: 100%
  .project-thumb2
    width: 90%

@media (min-width: 1600px)  
  .project-list2
    width: 80%
  .project-thumb2
    width: 30%


