.projects-container2
  width: 100%
  height: 100%
  background: $b

.projects-list2
  height: 100%
  width: 80%
  margin: auto
  padding-bottom: 12rem
  display: flex
  flex-wrap: wrap
  align-items: flex-start

.project-thumb2
  background: linear-gradient(25deg, $fore 28%, #4b4b63 100%)
  color: white
  width: 46%
  margin: 8rem auto 0
  box-shadow: 0px 3px 4px $shadow
  border-radius: 8px
  // transition: transform .25s ease-in-out
  position: relative
  transform: translateY(20px)
  opacity: 0
  // &:hover
  //   transform: translateY(-20px) rotateZ(-.5deg) 

.project-title2
  margin-top: -1px
  font-size: 2rem
  font-weight: 500
  color: white
  z-index: 10
  position: absolute
  top: 0
  left: 0
  background: $fore
  text-transform: uppercase
  // background: linear-gradient(60deg, $fore 70%, #4b4b63 100%)
  border-radius: 5px 0 24px 0
  padding: .2rem 1.5rem .5rem 1rem

.project-img-wrapper
  position: relative
  height: 80%
  top: 0
  left: 0
  overflow: hidden

.project-img2
  width: 100%
  background: white
  margin: 0 auto
  position: relative
  top: 0
  left: 0
  border-radius: 8px 8px 0 0

.project-desc2
  padding-top: 1.2rem
  margin: 0 1.2rem  
  font-weight: 100
  font-size: 1.1rem

.project-tools2
  padding-top: 1rem
  padding-bottom: 2.5rem
  margin-left: 1.2rem
  color: lightgrey

  .project-links
  margin-left: 1.2rem
  padding-bottom: 2rem


.project-link
  border: 1px solid $font
  color: $font
  border-radius: 5px
  padding: .3rem .6rem .5rem
  // padding-bottom: .5rem
  margin-right: 2rem
  &:hover
    background: $font
    color: black
  &:nth-of-type(2)
    color: $orange
    border: 2px solid $orange
    &:hover
      background: $orange
      color: black
  &:nth-of-type(3)
    color: $light-purple
    border: 2px solid $light-purple
    &:hover
      background: $light-purple
      color: black
      
//media queries
@media (max-width: 900px)  
  .project-list2
    width: 100%
  .project-thumb2
    width: 90%

@media (min-width: 1600px)  
  .project-list2
    width: 80%
  .project-thumb2
    width: 30%


