
.contact
  position: relative
  z-index: 2
  background: rgb(3, 10, 21)
  padding: 4rem 0 5rem
  // border: 1px solid white

.contact-form
  // position: relative
  display: flex
  flex-direction: column
  margin: auto
  width: 85%
  // background: grey
  border: 1px solid white
  color: white
  text-align: center
  padding: 2rem

input, textarea
  background: grey
  // margin: 6rem  //?
  // padding: 4rem //?


.popup-container
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background: black
  opacity: .8
  z-index: 1


.form-success, .form-fail
  color: white
  font-size: 2rem
  text-align: center
  background: rgb(9, 26, 53)
  margin: auto
  // width: 50%
  // height: 50%
  position: absolute
  top: 50vh
  left: 50vw
  transform: translateX(-50%)
  // transform: translateY(50%)
  padding: 5rem
  transition: all 1.5s ease
  z-index: 1
  // opacity: 1
  .dismiss
    position: absolute
    bottom: 0
    right: 0
    margin: 1rem 2rem

