.design 
  z-index: 2
  position: relative
  width: 100%
  margin: auto
  background: #ffffff5b

.design-panel
  width: 80%
  margin: 8rem auto 

.slanted
  transform: translateX(-4.8rem) perspective(1000px) rotateX(5deg) rotateY(-24deg) rotate(1deg)