@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Coda&family=Homemade+Apple&family=Kanit:wght@100;200;300;400;500;600;800;900&family=Niconne&family=Phudu:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200;400;600;800&family=Rubik+Mono+One&family=Sonsie+One&display=swap')
@import './just-grid.css'

@tailwind base
@tailwind components
@tailwind utilities

  // #6e6e86
//colors
$b: #101018
$fore: #1c1c29
$font: #81dffb
$teal: #00d4ff
$shadow: #0a0a0abf
$purple: #6d498c
$light-purple: #b17fdc
$orange: #dda345
$bg: #101018db

$on-dark-shadow: -6px 4px 4px $shadow

// @media (min-width: 768px) 
// @media (min-width: 992px)
// @media (min-width: 1200px) 
// @media (min-width: 1400px)

html, body
  scroll-behavior: smooth
  // overflow-x: hidden
  // overflow-x: visible
  // height: auto
  box-sizing: border-box

*, *:before, *:after 
  box-sizing: inherit


.container
  max-width: 100%
  height: 100%
  position: relative
  background: $b
  // z-index: 1

  // z-index stacking context is relevant to an element's nearest parent with a z-index (always infront) - otherwise it's on the global z-index (can be behind)
  //https://web.dev/learn/css/z-index/ 

//Navigation
.nav
  grid-area: nav
  position: fixed
  transition: all .2s ease-in
  display: flex
  justify-content: center
  align-items: center
  max-width: 100vw
  width: 100%
  height: 2.8rem
  padding-left: 2rem
  padding-right: 2rem
  z-index: 99

.hide
  transform: translateY(-4.2rem)

.bgColor
  background: $b
  box-shadow: 0px 3px 4px $shadow

.logo
  color: white

.nav-links
  // color: $purple
  color: #aea2dd
  color: #44a595
  font-weight: 600
  display: flex
  padding: .5rem 3rem 0 0
  width: 50%
  margin: auto
  justify-content: space-evenly
  align-items: center
  text-align: center
  div
    width: 8rem
    height: 2rem
    transition: all .15s ease-in

.nav-links div:hover
  font-size: 1.08rem
  color: white
  transform: translateY(2px)


//Landing////////////////////////////////////
.landing
  scroll-snap-align: start
  color: white
  width: 100%
  max-width: 100vw
  position: fixed
  top: 0
  left: 0
  transition: transform 100ms ease-out
  text-align: center
  .title-1
    font-family: 'Phudu'
    font-family: 'Kanit'
    // font-family: 'Coda'
    font-style: black
    color: #3fd4bb
    // text-shadow: -1px 1px 1px #a1ffef
    text-align: center
    font-weight: 800
    font-size: 5rem
    margin: 10rem auto 0
    width: 70%
    letter-spacing: 3px

  .title-2
    width: 70%
    text-align: center
    font-weight: 400
    color: #30ad98
    font-family: 'Calligraffitti'
    font-family: 'Homemade Apple'
    letter-spacing: 1px
    font-size: 2rem
    margin: 1.6rem auto 0

@media (min-width: 768px) 
  .landing

    .title-1
      font-size: 6rem
      // margin: 12rem auto 0

    .title-2
      font-size: 2.4rem
      margin: 2rem auto 0

@media (min-width: 992px)
  .landing
    .title-1
      font-size: 7rem
      // margin: 14rem auto 0

    .title-2
      font-size: 2.8rem
      margin: 2.5rem auto 0

@media (min-width: 1200px) 
  .landing
    .title-1
      font-size: 8rem
      margin: 8rem auto 0

    .title-2
      font-size: 3.2rem
      // margin: 3rem auto 0

@media (min-width: 1400px)
  .landing
    .title-1
      font-size: 9rem
      // margin: 8rem auto 0

    .title-2
      font-size: 4rem
      // margin: 3.5rem auto 0

@media (min-width: 1640px)
  .landing
    .title-1
      margin: 16rem auto 0


.back-scene
  height: 100vh
  // height: 220vh //for longer scene also see .projects-continer { margin-top: ...}
  // would need changes to globe position(higher) & scroll listener, 
  width: 100%
  top: 0
  left: 0
  position: sticky
  // background: $b

.bg-overlay
  width: 100%
  height: 100%
  position: absolute

.overlay
  // background: (linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #10101835 10%, #10101853 28%, #10101880 46%, #101018a0 64%, #101018ce 82%, $bg  100%))
  // background: (linear-gradient(to bottom, #10101800 0%, $bg  100%))
  background: (linear-gradient(to bottom, #10101800 36%, rgba(16, 16, 24, 0.9254901961)  100%))
  // background: lightgray
  width: 100%
  height: 100vh
  position: absolute
  // top: 600px
  transform: translateY()
  -webkit-clip-path: url(#clip)
  clip-path: url(#clip)
  top: 63.5vh

// #clip
//   path
//     transform: "scale(0.001111, 0.001666)"


@media ( max-width: 800px )
  .landing-bg::before
    background: radial-gradient(circle, #00d5ff44 0%, #1c1cc344 18%, #02002444 40%), url('https://ik.imagekit.io/kv4ohthhz/tr:w-1118,tr:q-100/milkyway-square-8k_rdtI2Ci4c'), rgb(0, 0, 0)

  
//globe
.globe
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0


// .landing-svg-fore, .landing-svg-back, .landing-svg-back-bot
//   fill:#141418
//   stroke:#3c3c54
//   stroke-miterlimit:10
//   stroke-width: 1.5px
  
// .landing-svg-fore
//   // fill: #12121e
//   fill: #12121d

// .landing-svg-fore
  
//   stroke-width: 5px
//   // width: 80%
  

// #svg-back
//   width: 80%
//   position: absolute
//   top: 100vh
//   left: 50%
//   transform: translateX(-50%)

// #svg-back-bot
//   width: 80%
//   position: absolute
//   bottom: 10vh
//   left: 50%
//   transform: translateX(-50%)

// #svg-fore
//   max-width: 96%
//   position: absolute
//   left: 50%
//   transform: translateX(-50%)
//   // top: 110vh


//project list cards
@import "cards.sass"
@import "trick-cards.sass"


// $b: #101018
// $fore: #1c1c29
// $shadow: #0a0a0abf

// $light-teal: #81dffb
// $teal: #00d4ff
// $dark-teal: #00d4ff33

// $purple: #6d498c
// $light-purple: #b17fdc
// $opac-purple: #1c1cc333
// $dark-purple: #02002433

// $orange: #dda345

//project page
.project-container
  position: relative
  width: 100%
  padding-top: 3rem
  // background: $fore
  color: white
  font-family: Raleway
  justify-content: center

.project
  margin-bottom: 50px
  height: 100vh
  text-align: center

.project-header
  font-size: 2.4rem
  margin: 2.2rem 0
  padding: 1.2rem

.project-icons
  margin-bottom: 3.2rem
  // margin: 1.2rem 0

.project-item-desc
  margin: 2rem auto


@media (min-width: 800px) 
  .layout-img2
    width: 800px


.layout-img
  box-shadow: -2px 6px 6px $shadow
  border-radius: 3px
  position: relative
  top: 0
  left: 0

$overlay-back: #8d49fbe5
$overlay-fore: #ffe48c
// $overlay-fore: white


.layout-img-layover
  opacity: 0
  position: absolute
  width: 100%
  height: 100%
  background: white
  // background: linear-gradient(110deg, #865fc4ea 0%, #3d3795e8 50%)
  background: radial-gradient(circle, #ffffff 35%, #ffffff00 100%)
  // background: radial-gradient(circle,#4e3b7a 0%, #5432bba7 100%)

$fore-more: #383155

.overlay-link
  font-size: 1.6rem
  font-weight: 800
  border-top: 5px solid $fore-more
  border-bottom: 5px solid $fore-more
  color: $fore-more
  padding: 1.2rem 2rem 1.4rem
  position: relative
  top: 50%
  transform: translateY(-50%)
  display: inline-block
  transition: background .3s ease
  //note: transform is ignored on inline elements!! pffwhat!
  &:hover
    background: $fore-more
    color: white
    font-weight: 800

@media (min-width: 1200px) 
  .overlay-link
    font-size: 2.4rem
    padding: 2.2rem 4rem 2.4rem








      


