// tailwind directives
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap')

@tailwind base
@tailwind components
@tailwind utilities

//fonts
// @font-face 
//     font-family: 'Raleway'
//     src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;600;800&display=swap')
    
 

// global styles 

html, body
    // scroll-snap-type: y mandatory
    scroll-behavior: smooth
    
.container
  width: 100vw

//Navigation
.nav
  // border-bottom: 1px solid white
  // background: (linear-gradient(to top, rgba(0, 0, 0, 0) , rgba(0, 0, 0, .6)))
  // background: #071d36
  grid-area: nav
  position: fixed
  transition: all .3s ease-in-out
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 4rem
  padding-left: 2rem
  padding-right: 2rem
  z-index: 99

.hide
  transform: translateY(-4rem)

.nav-links
  color: #6d498c
  font-size: 1.3rem
  font-weight: 600
  display: flex
  padding-left: 2rem
  padding-right: 2rem
  width: 50%
  margin: auto
  justify-content: space-evenly
  align-items: center
  text-align: center
  div
    width: 8rem
    height: 4rem
    margin-top: 1rem
    transition: all .15s ease-in

.nav-links div:hover
  // font-weight: 800
  font-size: 1.6rem
  color: white
  transform: translateY(5px)

//Landing
.landing
  scroll-snap-align: start
  color: white
  height: 100vh
  width: 100%
  display: grid
  grid-template-rows: repeat(6, 16.666%)
  grid-template-columns: repeat(12, 8.333%)
  // grid-template-columns: 1fr repeat(10, minmax(100px, auto)) 1fr
  gap: 10px
  font-family: 'Raleway'
  font-size: 8rem
  font-weight: 600
  position: absolute
  top: 0
  left: 0
  // margin: auto
  margin-bottom: 50vh

.title-1
  grid-column: 4/6
  grid-row: 2/3

.title-2
  grid-column: 5
  grid-row: 3

.title-3
  grid-column: 3
  grid-row: 3/4
  font-size: 24rem
  color: #5d3885
  font-family: 'Times New Roman', Times, serif

.title-4
  grid-column: 4/6
  grid-row: 4
  padding-left: 4rem

.title-5
  grid-column: 7/12
  grid-row: 5
  font-size: 2rem
  padding-top: 3rem
  // word-spacing: 1.2rem
  // letter-spacing: 1.2rem
  font-weight: 400
  color: #5d3885
  // font-family: 


.title-6
  grid-column: 11
  grid-row: 1/4
  font-size: 48rem
  margin-top: -16rem
  color: #5d3885
  opacity: 0.2

.title-7
  grid-column: 1
  grid-row: 4
  font-size: 36rem
  opacity: 0.2
  // margin-top: -6rem
  color: #5d3885

.back-scene
  height: 140vh
  top: 0
  left: 0
  position: relative
  z-index: -1

.bg-overlay
  // background: (linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, .1) 30%, rgba(0, 0, 0, 1) 100%))
  // background: (linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff10 70%, #ffffff25 80%, #ffffff60 90%, #ffffff95 100%))
  background: (linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff10 55%, #00000050 75%, #00000090 82%, #000000 97%))
  width: 100%
  height: 100%
  position: absolute
  z-index: -1

.landing-bg 
  position: absolute
  top: 0
  left: 0
  z-index: -1
  width: 100%
  height: 100%
  // background: linear-gradient(to bottom, rgba(45, 20, 57, 0.2), rgba(0, 0, 0, 1)) ,url('../../static/stars-8k.jpg')
  background: rgb(0,212,255)
  background: radial-gradient(circle, rgba(0,212,255,.2) 0%, rgba(28,28,195,.2) 18%, rgba(2,0,36,.2) 40%), url('../../static/milky-way-8k.jpg')
    // https://www.solarsystemscope.com/textures/
  background-size: 320%
  // background-size: 320%
  background-position: center center
  background-repeat: no-repeat

//globe
.globe
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  z-index: -1

  
.left-1
  grid-row: 1/2
  grid-column: 1/3
  background: #9A656C
  position: sticky
  top: 25vh
  margin: 20px

.right-1
  grid-row: 3/5
  grid-column: 3/5
  background: #78659A
  position: sticky

//project page
#projects

  // height: 

.project
  width: 80%
  margin: auto
  padding: 6rem
  height: 100vh
  background: lightgray

//projects list
.projects-list
  background: black
  height: 100vh
  width: 100%
  margin: -4px auto
  padding: 4rem
  display: flex
  flex-wrap: wrap

.project-thumb
  background: #b157da67
  color: #a465c1
  padding: '20px'
  width: 40%
  margin: auto
  box-shadow: 0px 3px 4px #4084b2e4
  border-radius: 8px
  transition: all .25s ease-in-out
  &:hover
    transform: translateY(-3px)



//story
.story
  position: relative
  height: 200vh
  display: grid 
  grid-template-rows: repeat(4, 50vh)
  grid-template-columns: 1fr repeat(2, minmax(300px, auto)) 1fr
  grid-template-areas: 'label0 label0 label1 label1' 'label0 label0 label1 label1' 'label0 label0 label1 label1' 'label0 label0 label1 label1'
  gap: 0px
  // height: 100%
  
.story-left 
  background-color: #659a93
  grid-area: label0
   

.story-right
  background-color: #659a93
  grid-area: label1