
#intro
  scroll-margin-top: 120px

//Introduction 
.introduction
  margin: auto
  margin-top: 55rem
  margin-bottom: 15rem
  padding: 2.3rem
  padding-top: 6rem
  padding-bottom: 10rem
  border-radius: 12px
  position: relative
  color: #5cabc9
  width: 90%
  max-width: 840px
  font-weight: 300
  font-size: 1.22rem
  background: rgba(4,20,35,.95)
  background: linear-gradient(127deg,  rgba(10,32,54,.95) 0%, rgba(4,20,35,.95) 100%)
  -webkit-clip-path: url(#intro-clip)
  clip-path: url(#intro-clip)
  .intro-paras
    margin: auto

#intro-clip
  position: absolute
  // top: 0

.highlight
  font-weight: 600
  font-size: 1.6rem
  color: #44a595


.logo-intro
  width: 10%
  margin: auto
  fill: #5cabc9
  fill: #44a595
  padding-bottom: 3rem

.call-to-action
  position: relative
  margin: auto

.intro-actions-text
  // position: relative
  // display: inline

.intro-message, .intro-email, .intro-git, .intro-li
  // margin: 0 .6rem 0 0
  position: relative
  // font-weight: 500
  top: 0
  transition: all .3s ease
  &:hover
    color: white
    top: -5px
    svg
      fill: white
  svg
    display: inline-block
    fill: #44a595
    margin: 0 .6rem 0 .3rem
    // &:hover
    //   fill: white


    // transform: translateY(-8px)

.intro-message svg
  width: 38px
  transform: translateY(-2px)

.intro-email svg
  width: 36px
  transform: translateY(-4px)

.intro-git svg
  width: 40px
  transform: translateY(-4px)

.intro-li svg
  width: 37px
  transform: translateY(-4px)


.keep-scrolling
  // padding-top: 4rem
  position: relative
  // text-align: right

.go-down-intro
  width: 50px
  transform: translate(50%, 0)
  animation: 3s go-down 4s infinite ease-in-out
  z-index: 3
  fill: #44a595
  transition: all .3s ease
  position: absolute
  bottom: 65px
  right: 50%
  &:hover
    fill: #fff


@media (min-width: 768px) 
  .introduction
    border-radius: 20px
    width: 80%
    font-size: 1.4rem
    padding: 2.8rem
    padding-bottom: 10rem
    padding-top: 6rem


  .intro-paras
    width: 90%
  .call-to-action
    width: 90%
  .highlight
    font-size: 1.8rem
  .go-down-intro
    // right: 160px
    bottom: 80px


@media (min-width: 992px) 
  .call-to-action
    flex-wrap: nowrap
  .introduction
    padding-bottom: 6rem
    padding-top: 6rem

  .go-down-intro
    right: 160px
    bottom: 100px

@media (min-width: 1200px) 
  .introduction
    padding: 3.5rem
    padding-top: 6rem
    padding-bottom: 6rem
    font-size: 1.6rem
