.site-tools
  color: lightgrey
  margin: auto
  position: relative
  z-index: 0
  text-align: center
  padding: 7rem 0 5rem
  height: 80vh

.site-tools-bg
  // background: rgb(3, 10, 21)
  background: linear-gradient(to bottom, #041423 55%, rgba(3, 10, 21, 0.83) 100%)
  position: absolute
  top: 0
  width: 100%
  height: 100%
  z-index: -1
  transition: opacity 1s ease

.site-tools-wrapper
  width: 90%
  margin: 10vh auto 0
  padding: 2rem

.site-desc
  margin: 0 auto 2rem
  font-size: 1.5rem
  font-weight: 300
  color: $font-color